GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123456
GRAFANA_ALLOW_SIGN_UP=false
APP_ENV=local
MONITORING_PROJECT=yun-mon
STACK_AGENT_ENABLED=true
STACK_AGENT_BASE_URL=http://host.docker.internal:19090
STACK_AGENT_SHARED_TOKEN=yunmon-local-agent-token
GRAFANA_HOST_PORT=13000
DEMO_SERVICE_HOST_PORT=18080
CONTROL_PLANE_HOST_PORT=18090
PROMETHEUS_HOST_PORT=9090
ALERTMANAGER_HOST_PORT=9093
LOKI_HOST_PORT=3100
CADVISOR_HOST_PORT=8081
DEMO_SERVICE_LOG_DIR=/var/log/yunmon
DEMO_SERVICE_JAVA_OPTS=-XX:+UseContainerSupport -XX:MaxRAMPercentage=75.0
DEMO_SERVICE_MONITORING_ENABLED=true
DEMO_SERVICE_MONITORING_PORT=8080
DEMO_SERVICE_SERVICE_NAME=demo-service
DEMO_SERVICE_METRICS_PATH=/actuator/prometheus
DOCKER_STATS_EXPORTER_MAX_WORKERS=8
DOCKER_STATS_EXPORTER_TARGET_PROJECT=yun-mon
CADVISOR_DOCKER_ONLY=true
CADVISOR_HOUSEKEEPING_INTERVAL=30s
